body{
    background-color: rgb(255, 228, 243);

}

p{
color: palevioletred;
background-color:pink ;

}

#ol1{
color: yellow;
background-color: pink;

}

#ol2{
    color: aquamarine;
    background-color: pink;
    
}

ul{
color: aqua;
background-color: pink;


}